.lsframework {
    align-items: center;
    margin: auto;
}

.auth-header {
    text-align: center;
    /* margin-bottom: 1.5rem; */
  
}

.lsportsicon {
    width: 100%;
    height: 100%;
    /* margin-bottom: 1rem; */
}